body{
    overflow-x: hidden;
    overflow-y: hidden;
    animation: fadeIn 1s ease-in-out forwards;
}

a {
    color: black;
    text-decoration: none;
    transition: border-bottom 0.3s;
    line-height: 1.2; /* Adjust as needed */
}

a:hover {
    border-bottom: 1px solid black;
    padding-bottom: 0; /* Adjust as needed */
}


.vertical-line { 
    border-right: 1px solid #6c7ea4 !important; 
}

.custom-spacing {
    padding-top: 77vh;
}

#info{
    position:absolute;
    right: 0;
}

#text1 {
    position:absolute;
    text-align: center;
    padding: 2vh;
}

@font-face {
  font-family: myFirstFont;
  src: url(HelveticaNeue.ttf);
}

* {
  font-family: myFirstFont;
}

#text1{
   font-family: myFirstFont;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

#foto {
    border: 2px solid #6c7ea4;
}

#appointment {
   border: 2px solid #6c7ea4;
   border-radius: 10px;
   padding: 5;
}

#appointment2 {
   border: 2px solid #6c7ea4;
   border-radius: 15px;
   padding: 7;
    margin: 1.5%;
    font-size: 1.8vh;
}

#text2 {
 color: #6c7ea4;
font-size: 3vh;
}

#text4 {
color: #6c7ea4;
font-size: 2vh;
}

#homeContent {
 animation: fadeIn 1s ease-in-out forwards;

}

#aboutContent {
   right:0; 
   text-align: right !important;
   overflow:scroll; 
    overflow-x:hidden; 
    height:80vh;
    animation: fadeIn 1s ease-in-out forwards;

}

#consultationsContent{
    right:0; 
   text-align: right !important;
   overflow:scroll; 
    overflow-x:hidden; 
    animation: fadeIn 1s ease-in-out forwards;
    height:80vh;
}

#foodcontentContent{
   right:0; 
   text-align: right !important;
   overflow:scroll; 
    overflow-x:hidden; 
    animation: fadeIn 1s ease-in-out forwards;

    height:90vh;  
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.bullet {
 color: #6c7ea4;
font-size: 2.8vh;

}

.fixed-bottom {
    text-align: right;
    z-index: 9999;
    margin-top: -100px;
}

#textHERE{
    text-align: right;
   right:0; 
     color: #6c7ea4;
font-size: 2.8vh;

}

.button01 {
    position: absolute;
    width: 20%;
    margin: 16%;
}