body{
    overflow-x: hidden;
    overflow-y: hidden;

    animation: fadeIn 1s ease-in-out forwards;
}

a {
    color: black;
    text-decoration: none;
    transition: border-bottom 0.3s;
    line-height: 1.2; /* Adjust as needed */
}

a:hover {
    border-bottom: 1px solid black;
    padding-bottom: 0; /* Adjust as needed */
}


.vertical-line { 
    border-right: 1px solid #6c7ea4 !important; 
}

.custom-spacing {
    padding-top: 77vh;
}

#info{
    position:absolute;
    right: 0;
}

#text1 {
    position:absolute;
    text-align: center;
    padding: 2vh;
}



@font-face {
  font-family: myFirstFont;
  src: url(HelveticaNeue.ttf);
}

* {
  font-family: myFirstFont !important;
}

#text1{
   font-family: myFirstFont;
   color: #6c7ea4;
}

#text0{
    font-family: myFirstFont;
    color: #6c7ea4;
    text-align: center;
    font-size: 2vh;
 }

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

#foto {
    border-top: 2px solid #6c7ea4;
    border-bottom: 2px solid #6c7ea4;
}

#appointment {
   border: 2px solid #6c7ea4;
   border-radius: 10px;
   padding: 5;
   font-family: myFirstFont;

}

#appointment2 {
   border: 2px solid #6c7ea4;
   border-radius: 15px;
   padding: 7;
    margin: 1.5%;
    font-size: 1.8vh;
    background-color: white;
}

#text2 {
 color: #6c7ea4;
font-size: 3.5vh;
}

#text4 {
color: #6c7ea4;
font-size: 2vh;
}

#texrnewdiv {
    text-align: right;
    margin-bottom: 20%;
    padding: 2%;
}

#textnew {
    color: #6c7ea4;
    font-size: 2vh;
    }

#homeContent {
    position: relative;    
    animation: fadeIn 1s ease-in-out forwards;
    overflow:scroll !important; 
    overflow-x:hidden; 
    height:90vh;
}

#homeContent1 {
    right:0; 
    text-align: right !important;
    overflow:scroll; 
     overflow-x:hidden; 
     height:80vh;
     animation: fadeIn 1s ease-in-out forwards;
     
 
}

#aboutContent {
   right:0; 
   text-align: right !important;
   overflow:scroll; 
    overflow-x:hidden; 
    height:83vh;
    animation: fadeIn 1s ease-in-out forwards;
    padding: 4%;
 
}

#consultationsContent{
    right:0; 
   text-align: right !important;
   overflow:scroll; 
    overflow-x:hidden; 
    animation: fadeIn 1s ease-in-out forwards;
    height:80vh;
    padding: 2%;

}

#foodcontentContent{
   right:0; 
   text-align: right !important;
   overflow:scroll; 
    overflow-x:hidden; 
    animation: fadeIn 1s ease-in-out forwards;
    height:90vh;  
    
}


._3efP_GeH5kyBAzqnLzL.cllbjvXCdYDt9A3te4cz {
    display: flex;
    flex: 1 1 auto;
    max-width: 800px;
    min-height: 550px;
    transition: all .22s ease-out;
    font-family: myFirstFont;
}

p {
    font-family: myFirstFont;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.bullet {
 color: #6c7ea4;
font-size: 2.8vh;

}

.fixed-bottom {
    text-align: right;
    z-index: 9999;
    margin-top: -100px;
}

#textHERE{
    text-align: right;
   right:0; 
     color: #6c7ea4;
font-size: 2.8vh;

}

.button01 {
    position: absolute;
    width: 20%;
    margin: 16%;
}

.calendly-inline-widget iframe, .calendly-badge-widget iframe, .calendly-overlay iframe {
    font-family: myFirstFont;
}

.WrdpezlzjKu1CoRihaXS.y2BHUjkNYLaMI5GB_dVt {
    width: 50%;
    min-width: 300px;
    border-right: 1px solid var(--text-color-level3, rgba(26, 26, 26, 0.1));
    transition: all .22s ease-out;
    font-family: myFirstFont;

}